.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-option{
    display: flex;
    flex-direction: column;  //spreads out vertically on mobile
    padding : $m-size;
    
}

.add-option__input {
    flex-grow: 1;
    background:  $dark-blue;
    border-bottom : .3rem solid darken($dark-blue, 10%);
    margin:0 0 $s-size 0;
    color: $off-white;
    padding: $s-size;
    

}


// after width > min-width apply these properties
@media (min-width: $desktop-breakpoint) {
    .add-option {
      flex-direction: row;  // spreads out horizontally on desktop
    }
    
    .add-option__input {
        margin-right :$s-size;
    }
}